<html>
    <head>
        <title>INTERNET OF THINGS</title>
    </head>
    <body>
        <div>
            <h1><a href="">INTERNET OF THINGS</a></h1>
        </div>

        <div>
            <p>published: 17.01.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Developing a webpag for my project using django, so far so good.</p>
        </div>

        <div>
            <p>published: 17.01.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>established 6lowpan network using raspberry pi3 and nordics nrf51dk.</p>
        </div>
    </body>
</html